<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "hn.pani.dev"
    versionCode = "1"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>APP_CONSULTA_5</name>

  <description>    Este es un ejercicion de practica para la app del pani  </description>

  <author href="https://build.phonegap.com" email="javi0622@gmail.com">  Javier Oseguera    </author>

<!-- Don't block any requests -->
 
        
 <access origin="*" subdomains="true" />
 <access origin="http://181.210.25.211:8990/APP_CONSULTA/*"/> 

    <!-- Added the following intents to support the removal of whitelist code from base cordova to a plugin -->
    <!-- Whitelist configuration. Refer to https://cordova.apache.org/docs/en/edge/guide_appdev_whitelist_index.md.html -->

</widget>